.gradle
build/

*.iml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/.gradle
/README.md
/app/build
/app/app.iml
/test
*~
/?
/gradle
/gradlew*



# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
